html {
    padding: 0;
    display: flex;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    background-image: linear-gradient(to right, #a02424 0%, #4a00e0 50%, #4a00e0 50%, #1fc7c7 100%);
    font-family: 'Fjalla One', sans-serif;
    animation: fadein 1.5s;
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100%   {
        opacity: 100%;
    }
  }

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

input {
    background-color: rgba(52, 73, 94, 0.5);
    color: #ecf0f1;
    outline: none;
    text-align: right;
    border: none;
    font-size: 3rem;
    width: 20rem;
    margin-bottom: 0.5rem;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.container {
    height: max-content;
    background-color: #06050ca1;
    border-radius: 2vmax;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    color: rgb(99, 185, 255);
    font-size: 1.6rem;
    position: absolute;
    margin: auto ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator {
    padding: 0.25rem;
    display: inline-block;
}

table {
    margin: auto;
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0.67);
    width: 5rem;
    height: 5rem;
    padding: 0.5rem 0;
    margin: 0.25vmax;
    font-size: 2rem;
    border-radius: 4rem;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
    box-shadow: rgba(133, 133, 133, 0.17) 0px -23px 25px 0px inset, rgba(138, 138, 138, 0.15) 0px -36px 30px 0px inset, rgba(128, 128, 128, 0.1) 0px -79px 40px 0px inset, rgba(138, 138, 138, 0.06) 0px 2px 1px, rgba(125, 125, 125, 0.09) 0px 4px 2px, rgba(141, 141, 141, 0.09) 0px 8px 4px, rgba(106, 106, 106, 0.09) 0px 16px 8px, rgba(87, 87, 87, 0.09) 0px 32px 16px;
}
button:active {
    transform: scale(0.95);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(254, 253, 253, 0.437);
    /* Lowering the shadow */
}

button:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(210, 210, 210, 0.851);
    -moz-box-shadow: 0px 0px 10px 0px rgba(207, 207, 207, 0.636);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.859);
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

a{
    outline: none;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

a:hover{
    text-shadow: 0px 0px 10px rgba(241, 196, 15, 0.5);
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

#turn {
    display: none;
    z-index: 100;
    position: fixed;
}

#historybutton{
    width:60px;
    height:60px;
    border-radius: 20px;
    float:right; 
    margin-right:15px;
    cursor: pointer;
}

#history{
    position: absolute;
    width:90%;
    height: 80vh;
    top:10vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: none;
    /* overflow-y: scroll; */
}

.historyelement{
    color: black;
    margin: 20px;
    font-size: 40px;
}

#bar1, #bar2{
    position: absolute;
    width:30px;
    height: 4px;
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 93%;
    transform: rotate(45deg);
    cursor: pointer;
    display: none;
}

#bar2{
    transform: rotate(135deg);
}

@media (orientation: landscape) and (max-height: 500px) {
    #turn {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: rgba(52, 73, 94, 1.0);
        background-color: rgba(236, 240, 241, 1.0);
    }
}
#section-contact {
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: -50px auto;
  }
  #section-contact .footer-link:link,
  #section-contact .footer-link:visited {
    border-bottom: 1px solid #fff;
    padding: 1px;
    line-height: 1.2;
  }
  #section-contact .copyright {
    margin-top: 1.2rem;
  }
  #section-contact .copyright p:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
    margin-top: 1.2rem;
  }
  #section-contact .copyright p:last-of-type svg {
    fill: #fff;
    height: 1.6rem;
  }
